<p>registration works!</p>
<div class="form-container">
<form [formGroup]="RegistrationForm" (ngSubmit)="onFormSubmit()">
    <input type="text" placeholder="name" id="name">
    <br>
    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control">
        <div class="error"
            *ngIf="RegistrationForm.get('email').errors && RegistrationForm.get('email').touched && RegistrationForm.get('email').dirty">
            Name is required</div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control">
        <div class="error"
            *ngIf="RegistrationForm.get('password').errors && RegistrationForm.get('password').touched && RegistrationForm.get('email').dirty">
            Password is required</div>
    </div>
    <input type="text" placeholder="ConfirmPassword" id="ConfirmPassword"><br>
    <input type="text" placeholder="Date" id="Date"><br>
    <input type="radio" id="aamalegender" value="male" name="oneradio">
    <label for="aamalegender">Male</label>
    <input type="radio" id="femalegender" value="female" name="oneradio">
    <label for="femalegender">Female</label><br>
    <input type="text" placeholder="Phonenumber" id="Phonenumber"><br>
    <input type="text" placeholder="Address" id="Address"><br>
    <input type="text" placeholder="Zipcode" id="Zipcode">
    <button type="submit">Submit</button>
    <span href=" " routerLink='/login'><u> Registered,click to Login </u></span>
</form>
</div> <br>
