<p>pos works!</p>


<div class="d-flex">
  <div class="col-8 row p-2 m-3 bdr-grey">
    <div class="col-md-2 m-3 p-0" *ngFor="let grocery of dataGrocery">
      <div style="cursor:pointer" class="card w-100" data-toggle="modal">
        <div class="card-body pb-0 card-main">
          <span class="vegimg">
            <img src="../../assets/images/potato.jpg" alt="grocery image" class="w-100" style="height:10vh">
          </span>
        </div>
        <div style="height:20vh">
          <p class="card-text card-footer mt-3 mb-1 text-center font-bold">
            {{grocery.price | currency}}
          </p>
          <button (click)="addtoOrderDetails()" >Add</button >
        </div>
        
      </div> 
    </div>
  </div>

</div>

<!-- <div class="container">
  <h2>Modal Example</h2>
 
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <ng-container>
            <div class="">
              <span class="vegImg">
                  
              </span>
            </div>
            <div style="height:20vh">
              <p class="card-text card-footer mt-3 mb-1 text-center font-bold">
                the body goes here...
              </p>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addtoOrderDetails()">Add</button>  
        </div>
      </div>

    </div>
  </div>

</div> -->













<div class="sidebarr">
  <app-cart-items></app-cart-items>
</div>