<p>home works!</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-navbar></app-navbar>
        </div>
        <div class="col-10">
            <!-- <app-dashboard></app-dashboard> -->
            <app-dashboard-statistics></app-dashboard-statistics>
        </div>
    </div>
</div>
<!-- <ul>
    <li routerLink="/userone">User1</li>
    <li>User2</li>
    <li>User3</li>
    <li>User4</li>
    <li>User5</li>
    <li>User6</li>

</ul> -->
<!-- {{parentData}} -->
