<div style="border: 1px solid grey; border-radius:2px;">
    <h3>Dashboard order statistics</h3>
    <div class="container d-flex">
        <p>dashboard-statistics works!</p>
        <div class="card p-2 m-3" style="width:25rem; background-color: blue ;">
            <div class="card-body">
                <h5 class="card-title" style="color:white">Pending</h5>
                <p class="card-text" style="color: white; float:left;">22</p>
                <p class="fa fa fa-shopping-cart" style="font-size:24px; color:white; float:right"></p>
            </div>
        </div>
        <div class="card p-2 m-3" style="width:25rem; background-color: red ;">
            <div class="card-body">
                <h5 class="card-title" style="color:white">Pending</h5>
                <p class="card-text" style="color: white; float:left;">22</p>
                <p class="fa fa fa-shopping-cart" style="font-size:24px; color:white; float:right"></p>

            </div>
        </div>
        <div class="card p-2 m-3" style="width:25rem; background-color: rgb(41, 235, 16) ;">
            <div class="card-body">
                <h5 class="card-title" style="color:white">Pending</h5>
                <p class="card-text" style="color: white; float:left;">22</p>
                <p class="fa fa fa-shopping-cart" style="font-size:24px; color:white; float:right"></p>

            </div>
        </div>
        <div class="card p-2 m-3" style="width:25rem; background-color: rgb(226, 204, 7) ;">
            <div class="card-body">
                <h5 class="card-title" style="color:white">Pending</h5>
                <p class="card-text" style="color: white; float:left;">22</p>
                <p class="fa fa fa-shopping-cart" style="font-size:24px; color:white; float:right"></p>
            </div>
        </div>
    </div>

    
</div> 
